<%- include('layout') %>
<div class="container">
    <a class="btn btn-primary" href="/price-type" rel="noopener noreferrer">Price type</a>
    <a class="btn btn-primary" href="/product-display" rel="noopener noreferrer">Product display</a>
    <a class="btn btn-primary" href="/limit-controls" rel="noopener noreferrer">Controles y límites</a>
</div>
