<%- include('layout') %>
<div class="container mt-4">
  <div class="accordion" id="ticketAccordion">
      <div class="accordion-item">
          <h2 class="accordion-header" id="headingTicket">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTicket" aria-expanded="true" aria-controls="collapseTicket">
                  HU Control and Limits - Ticket Setting
              </button>
          </h2>
          <div id="collapseTicket" class="accordion-collapse collapse show" aria-labelledby="headingTicket" data-bs-parent="#ticketAccordion">
              <div class="accordion-body">

                  <!-- Enable Ticket Purchase Limit -->
                  <div class="form-check form-switch">
                      <input class="form-check-input" type="checkbox" id="enableLimit" onchange="toggleLimitField(this)">
                      <label class="form-check-label" for="enableLimit">Enable Ticket purchase limit</label>
                      <small class="form-text text-muted">This option activates a limit number field for limiting the ticket times to be purchased.</small>
                  </div>
                  <div id="limitValueContainer" class="mt-3 d-none">
                      <label for="limitValue" class="form-label">Set Limit Value</label>
                      <input type="number" class="form-control" id="limitValue" min="1" placeholder="Enter limit value">
                  </div>

                  <!-- Enable Date Controls -->
                  <div class="form-check form-switch mt-4">
                      <input class="form-check-input" type="checkbox" id="enableDateControls" onchange="toggleDateControls(this)">
                      <label class="form-check-label" for="enableDateControls">Enable Date Controls</label>
                  </div>
                  <div id="dateControlOptions" class="mt-3 d-none">
                      <select class="form-select" id="dateType" onchange="handleDateTypeChange(this)">
                          <option value="">Select Date Type</option>
                          <option value="event">Event Date</option>
                          <option value="dynamic">Dynamic Date</option>
                      </select>
                      <div id="eventDateFields" class="mt-3 d-none">
                          <label for="eventDate" class="form-label">Date</label>
                          <input type="date" id="eventDate" class="form-control">
                          <label for="eventTime" class="form-label mt-2">Time</label>
                          <input type="time" id="eventTime" class="form-control">
                      </div>
                      <button id="dynamicDateButton" class="btn btn-primary mt-3 d-none" data-bs-toggle="modal" data-bs-target="#dynamicDateModal">Configure Dynamic Date</button>
                  </div>

                  <!-- Data List -->
                  <div class="mt-4 d-none" id="dynamicDateSection">
                      <h5>Dynamic Date Configurations</h5>
                      <ul id="dynamicDateList" class="list-group">
                          <!-- Dynamic configurations will appear here -->
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<!-- Dynamic Date Modal -->
<div class="modal fade" id="dynamicDateModal" tabindex="-1" aria-labelledby="dynamicDateModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="dynamicDateModalLabel">Configure Dynamic Date</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <div>
                  <label for="startDate" class="form-label">Start Date</label>
                  <input type="date" id="startDate" class="form-control">
                  <label for="endDate" class="form-label mt-2">End Date</label>
                  <input type="date" id="endDate" class="form-control">
              </div>
              <div class="form-check form-switch mt-3">
                  <input class="form-check-input" type="checkbox" id="enableDateMode" onchange="toggleDateMode(this)">
                  <label class="form-check-label" for="enableDateMode">Enable Date Mode</label>
                  <small class="form-text text-muted">Enable this option for limiting how this configuration works.</small>
              </div>
              <div id="dateModeOptions" class="mt-3 d-none">
                  <div class="form-check">
                      <input class="form-check-input" type="radio" name="dateMode" id="daily" value="Daily">
                      <label class="form-check-label" for="daily">Daily</label>
                  </div>
                  <div class="form-check">
                      <input class="form-check-input" type="radio" name="dateMode" id="weekly" value="Weekly">
                      <label class="form-check-label" for="weekly">Weekly</label>
                  </div>
                  <div class="form-check">
                      <input class="form-check-input" type="radio" name="dateMode" id="workweek" value="Workweek">
                      <label class="form-check-label" for="workweek">Workweek</label>
                  </div>
                  <div class="form-check">
                      <input class="form-check-input" type="radio" name="dateMode" id="weekend" value="Weekend">
                      <label class="form-check-label" for="weekend">Weekend</label>
                  </div>
              </div>
              <div class="form-check form-switch mt-3">
                  <input class="form-check-input" type="checkbox" id="enableScheduleHour" onchange="toggleScheduleHour(this)">
                  <label class="form-check-label" for="enableScheduleHour">Enable Schedule Hour</label>
                  <small class="form-text text-muted">Enable this option for setting hours for scheduling.</small>
              </div>
              <div id="scheduleHourGrid" class="d-none mt-3">
                  <div class="row">
                      <div class="col"><input type="checkbox" value="00:00"> 00:00</div>
                      <div class="col"><input type="checkbox" value="01:00"> 01:00</div>
                      <div class="col"><input type="checkbox" value="02:00"> 02:00</div>
                      <div class="col"><input type="checkbox" value="03:00"> 03:00</div>
                      <div class="col"><input type="checkbox" value="04:00"> 04:00</div>
                      <div class="col"><input type="checkbox" value="05:00"> 05:00</div>
                  </div>
                  <div class="row">
                      <div class="col"><input type="checkbox" value="06:00"> 06:00</div>
                      <div class="col"><input type="checkbox" value="07:00"> 07:00</div>
                      <div class="col"><input type="checkbox" value="08:00"> 08:00</div>
                      <div class="col"><input type="checkbox" value="09:00"> 09:00</div>
                      <div class="col"><input type="checkbox" value="10:00"> 10:00</div>
                      <div class="col"><input type="checkbox" value="11:00"> 11:00</div>
                  </div>
              </div>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" onclick="saveDynamicDateConfig()">Save</button>
          </div>
      </div>
  </div>
</div>